# Node.js
node_modules

# Builds
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Envs
.env
.env.*

# Databases
*.db

# Editors
.vscode
.idea

# Misc
.DS_Store
